@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
}

.text-crimson {
  color: #DC143C;
}

.bg-crimson {
  background-color: #DC143C;
}

.text-royalblue {
  color: #4169E1;
}

.bg-royalblue {
  background-color: #4169E1;
}

.text-forestgreen {
  color: #228B22;
}

.bg-forestgreen {
  background-color: #228B22;
}

.text-goldenrod {
  color: #DAA520;
}

.bg-goldenrod {
  background-color: #DAA520;
}

.text-slategray {
  color: #708090;
}

.bg-slategray {
  background-color: #708090;
}

.text-deeppink {
  color: #FF1493;
}

.bg-deeppink {
  background-color: #FF1493;
}

.text-mediumorchid {
  color: #BA55D3;
}

.bg-mediumorchid {
  background-color: #BA55D3;
}

@media (min-width: 0) {
  .p-xs-32 {
    padding: 32px;
  }
  .p-xs-24 {
    padding: 24px;
  }
  .p-xs-48 {
    padding: 48px;
  }
}
@media (min-width: 480px) {
  .p-sm-32 {
    padding: 32px;
  }
  .p-sm-24 {
    padding: 24px;
  }
  .p-sm-48 {
    padding: 48px;
  }
}
@media (min-width: 720px) {
  .p-md-32 {
    padding: 32px;
  }
  .p-md-24 {
    padding: 24px;
  }
  .p-md-48 {
    padding: 48px;
  }
}
@media (min-width: 960px) {
  .p-lg-32 {
    padding: 32px;
  }
  .p-lg-24 {
    padding: 24px;
  }
  .p-lg-48 {
    padding: 48px;
  }
}
@media (min-width: 1200px) {
  .p-xl-32 {
    padding: 32px;
  }
  .p-xl-24 {
    padding: 24px;
  }
  .p-xl-48 {
    padding: 48px;
  }
}
@media (min-width: 0) {
  .pl-xs-32 {
    padding-left: 32px;
  }
  .pl-xs-24 {
    padding-left: 24px;
  }
  .pl-xs-48 {
    padding-left: 48px;
  }
}
@media (min-width: 480px) {
  .pl-sm-32 {
    padding-left: 32px;
  }
  .pl-sm-24 {
    padding-left: 24px;
  }
  .pl-sm-48 {
    padding-left: 48px;
  }
}
@media (min-width: 720px) {
  .pl-md-32 {
    padding-left: 32px;
  }
  .pl-md-24 {
    padding-left: 24px;
  }
  .pl-md-48 {
    padding-left: 48px;
  }
}
@media (min-width: 960px) {
  .pl-lg-32 {
    padding-left: 32px;
  }
  .pl-lg-24 {
    padding-left: 24px;
  }
  .pl-lg-48 {
    padding-left: 48px;
  }
}
@media (min-width: 1200px) {
  .pl-xl-32 {
    padding-left: 32px;
  }
  .pl-xl-24 {
    padding-left: 24px;
  }
  .pl-xl-48 {
    padding-left: 48px;
  }
}
@media (min-width: 0) {
  .pr-xs-32 {
    padding-right: 32px;
  }
  .pr-xs-24 {
    padding-right: 24px;
  }
  .pr-xs-48 {
    padding-right: 48px;
  }
}
@media (min-width: 480px) {
  .pr-sm-32 {
    padding-right: 32px;
  }
  .pr-sm-24 {
    padding-right: 24px;
  }
  .pr-sm-48 {
    padding-right: 48px;
  }
}
@media (min-width: 720px) {
  .pr-md-32 {
    padding-right: 32px;
  }
  .pr-md-24 {
    padding-right: 24px;
  }
  .pr-md-48 {
    padding-right: 48px;
  }
}
@media (min-width: 960px) {
  .pr-lg-32 {
    padding-right: 32px;
  }
  .pr-lg-24 {
    padding-right: 24px;
  }
  .pr-lg-48 {
    padding-right: 48px;
  }
}
@media (min-width: 1200px) {
  .pr-xl-32 {
    padding-right: 32px;
  }
  .pr-xl-24 {
    padding-right: 24px;
  }
  .pr-xl-48 {
    padding-right: 48px;
  }
}
@media (min-width: 0) {
  .pt-xs-32 {
    padding-top: 32px;
  }
  .pt-xs-24 {
    padding-top: 24px;
  }
  .pt-xs-48 {
    padding-top: 48px;
  }
}
@media (min-width: 480px) {
  .pt-sm-32 {
    padding-top: 32px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }
  .pt-sm-48 {
    padding-top: 48px;
  }
}
@media (min-width: 720px) {
  .pt-md-32 {
    padding-top: 32px;
  }
  .pt-md-24 {
    padding-top: 24px;
  }
  .pt-md-48 {
    padding-top: 48px;
  }
}
@media (min-width: 960px) {
  .pt-lg-32 {
    padding-top: 32px;
  }
  .pt-lg-24 {
    padding-top: 24px;
  }
  .pt-lg-48 {
    padding-top: 48px;
  }
}
@media (min-width: 1200px) {
  .pt-xl-32 {
    padding-top: 32px;
  }
  .pt-xl-24 {
    padding-top: 24px;
  }
  .pt-xl-48 {
    padding-top: 48px;
  }
}
@media (min-width: 0) {
  .pb-xs-32 {
    padding-bottom: 32px;
  }
  .pb-xs-24 {
    padding-bottom: 24px;
  }
  .pb-xs-48 {
    padding-bottom: 48px;
  }
}
@media (min-width: 480px) {
  .pb-sm-32 {
    padding-bottom: 32px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .pb-sm-48 {
    padding-bottom: 48px;
  }
}
@media (min-width: 720px) {
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pb-md-24 {
    padding-bottom: 24px;
  }
  .pb-md-48 {
    padding-bottom: 48px;
  }
}
@media (min-width: 960px) {
  .pb-lg-32 {
    padding-bottom: 32px;
  }
  .pb-lg-24 {
    padding-bottom: 24px;
  }
  .pb-lg-48 {
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .pb-xl-32 {
    padding-bottom: 32px;
  }
  .pb-xl-24 {
    padding-bottom: 24px;
  }
  .pb-xl-48 {
    padding-bottom: 48px;
  }
}
svg {
  z-index: 99999999;
}

.white {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.orange {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card {
  border: 1px solid red;
  background: red;
  border-radius: 24px;
}

.btn-crimson {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #DC143C;
  color: #eb1f48;
}

.btn-royalblue {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #4169E1;
  color: #577ae4;
}

.btn-forestgreen {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #228B22;
  color: #279f27;
}

.btn-goldenrod {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #DAA520;
  color: #e1af33;
}

.btn-slategray {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #708090;
  color: #7e8d9b;
}

.btn-deeppink {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #FF1493;
  color: #ff2e9f;
}

.btn-mediumorchid {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #BA55D3;
  color: #c269d8;
}

/* Scrollbar'ın tüm parçalarını stilize etme */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

::-webkit-scrollbar-track {
  background: #3a3939; /* Scrollbar'ın arka plan rengi */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff6b6b, #f06595); /* Kaydırıcı için degrade renk */
  border-radius: 10px; /* Kaydırıcıyı yuvarlatmak için */
  border: 2px solid #353232; /* Kaydırıcının etrafına sınır ekleme */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4757; /* Kaydırıcı üzerine gelindiğinde değişen renk */
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 100; /* Ultra Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 100; /* Ultra Light Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 200; /* Thin */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: 200; /* Thin Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300; /* Light Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRegular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500; /* Medium Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800; /* Heavy */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 800; /* Heavy Italic */
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900; /* Black Italic */
  font-style: italic;
  font-display: swap;
}
body {
  background: rgb(249, 249, 249);
  font-family: "Helvetica Neue";
  overflow-x: hidden;
}

header {
  overflow: hidden;
}

.image {
  position: absolute;
  width: 1000px;
  height: 400px;
  right: -200px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(3);
}

header {
  border-radius: 12px;
  background: rgb(0, 0, 0);
  position: relative;
  padding: 0 24px;
  height: 100vh;
  background-color: black;
  position: relative;
}
header .gif_animation {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
header .header_title {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
header .header_title2 {
  color: rgb(242, 242, 242);
  font-family: Helvetica Neue;
  font-size: 160px;
  font-weight: 200;
  line-height: 87%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 48px;
}
header .header_content {
  position: absolute;
  bottom: 114px;
}

.container {
  max-width: 1392px !important;
  margin: 0 auto;
}

.partners {
  margin-bottom: 128px;
  padding: 0 24px;
  margin-top: 64px;
  position: relative;
  z-index: 1;
  margin-bottom: 128px;
}
.partners .container {
  display: flex;
  gap: 24px;
}
.partners .container .item {
  flex: 1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners .container .item img {
  object-fit: contain;
}

.branded_experiences {
  margin-bottom: 128px;
}
.branded_experiences .item_title {
  width: 100%;
  margin-bottom: 66px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.branded_experiences .item_title h1 {
  font-family: Helvetica Neue;
  font-size: 72px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.branded_experiences .item_title h1.active {
  color: rgba(34, 34, 34, 0.4);
}
.branded_experiences .container {
  display: flex !important;
  align-items: flex-end;
  justify-content: space-between;
}
.branded_experiences .see_all a {
  box-sizing: border-box;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  background: rgb(249, 249, 249);
  box-sizing: border-box;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  background: rgb(249, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  display: block;
  padding: 4px 8px;
}

.turing_business {
  width: 100%;
  display: flex;
  gap: 48px;
}
.turing_business .left, .turing_business .right {
  flex: 1;
}
.turing_business img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px !important;
}
.turing_business .left .item, .turing_business .right .item {
  margin-bottom: 48px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 12px 12px 24px 12px;
}
.turing_business .left .item .content, .turing_business .right .item .content {
  margin-top: 24px;
}
.turing_business .left .item .content h2, .turing_business .right .item .content h2 {
  color: rgb(0, 0, 0);
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.turing_business .left .item .content p, .turing_business .right .item .content p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.turing_business .tags {
  position: absolute;
  display: flex;
  gap: 16px;
  top: 16px;
  left: 16px;
}
.turing_business .tags a {
  color: rgba(34, 34, 34, 0.7);
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 20px;
  background: rgb(249, 249, 249);
  padding: 10px 12px 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.turing_business .left .item:first-of-type .img_area {
  height: 400px;
}
.turing_business .left .item:last-of-type .img_area {
  height: 652px;
}
.turing_business .img_area {
  position: relative;
}
.turing_business .right .item:first-of-type .img_area {
  height: 652px;
}
.turing_business .right .item:last-of-type .img_area {
  height: 400px;
}

.lovable_products .container {
  border-radius: 24px;
  background: rgb(0, 16, 17);
  padding: 48px 24px 48px 24px;
}
.lovable_products .container .item_title {
  margin-bottom: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.lovable_products .container .item_title h1, .lovable_products .container .item_title h2 {
  font-family: Helvetica Neue;
  font-size: 72px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(249, 249, 249, 0.4);
}
.lovable_products .container .item_title h2 {
  color: rgb(249, 249, 249);
}
.lovable_products .container .item_title .right a {
  box-sizing: border-box;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 4px;
  background: rgb(10, 10, 10);
  padding: 14px 24px 14px 24px;
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.lovable_products .container .products .item {
  padding: 40px 0;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.lovable_products .container .products .icon {
  width: max-content;
  margin-right: 150px;
}
.lovable_products .container .products .type {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.lovable_products .container .products .type_content {
  margin-left: 96px;
  max-width: 659px;
}
.lovable_products .container .products .type_content h4 {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}
.lovable_products .container .products .type_content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.lovable_products .container .products .type_content .tags {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 16px;
}
.lovable_products .container .products .type_content .tags a {
  color: rgba(255, 255, 255, 0.6);
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  padding: 6px 12px 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.01);
}

.how_we_create {
  padding-bottom: 192px;
  margin-top: 192px;
}
.how_we_create .item_title h1 {
  font-family: Helvetica Neue;
  font-size: 72px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(34, 34, 34);
}
.how_we_create .item_title h1.active {
  color: rgba(34, 34, 34, 0.4);
}
.how_we_create .container {
  display: flex;
  justify-content: space-between;
}
.how_we_create .create_list {
  width: 660px;
}
.how_we_create .create_list .item {
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(34, 34, 43, 0.24);
}
.how_we_create .create_list .item .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.how_we_create .create_list .item .title span:first-of-type {
  color: rgb(17, 17, 17);
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.8;
}
.how_we_create .create_list .item .title span:last-of-type {
  position: absolute;
  right: 26px;
  top: 6px;
}
.how_we_create .create_list .item .content {
  display: none;
  color: rgba(17, 17, 17, 0.8);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.how_we_create .create_list .item.active .title span:last-of-type {
  transform: rotate(45deg) translate(6px, -8px);
}
.how_we_create .create_list .item.active .content {
  display: block;
}

footer {
  margin-top: 128px;
  margin-bottom: 74px;
}
footer .container {
  display: flex;
  gap: 24px;
}
footer .container .footer_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .footer_left .content {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
footer .container .footer_right {
  flex: 2;
}
footer .container .footer_right .menus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer_right .menus .menu_title {
  margin-bottom: 20px;
  display: block;
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
footer .container .footer_right .menus .dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .container .footer_right .menus .dropdown a {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
}
footer .container .footer_left, footer .container .footer_right {
  border-radius: 24px;
  background: rgb(10, 10, 10);
  padding: 24px;
  min-height: 432px;
}

.choose_wait_suits {
  padding: 120px 0;
  background: rgb(255, 255, 255);
}
.choose_wait_suits .container .title {
  margin-bottom: 48px;
}
.choose_wait_suits .container .title h1, .choose_wait_suits .container .title h2 {
  font-family: Helvetica Neue;
  font-size: 72px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.choose_wait_suits .container .title h1 {
  color: rgba(34, 34, 34, 0.4);
}
.choose_wait_suits .container .title h2 {
  color: rgb(17, 17, 17);
}
.choose_wait_suits .container .choose_area {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.choose_wait_suits .container .choose_area .item {
  box-sizing: border-box;
  border: 1px solid rgba(10, 10, 10, 0.12);
  border-radius: 24px;
  padding: 48px 36px 48px 36px;
}
.choose_wait_suits .container .choose_area .item .img_area {
  width: 136px;
  height: 136px;
  margin-bottom: 36px;
}
.choose_wait_suits .container .choose_area .item .img_area img {
  width: 100%;
  height: 100%;
}
.choose_wait_suits .container .choose_area .item .choose_title {
  color: rgb(17, 17, 17);
  font-family: Helvetica Neue;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.choose_wait_suits .container .choose_area .item .choose_content {
  color: rgb(17, 17, 17);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}
.choose_wait_suits .container .choose_area .item .choose_button {
  color: rgb(255, 255, 255);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 4px;
  background: rgb(10, 10, 10);
  padding: 14px 24px 14px 24px;
  display: inline-block;
  margin-bottom: 56px;
}
.choose_wait_suits .container .choose_area .item .list .list_item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.choose_wait_suits .container .choose_area .item .list .list_item:not(:last-of-type) {
  margin-bottom: 32px;
}
.choose_wait_suits .container .choose_area .item .list span:first-of-type {
  display: inline-flex;
  align-items: center;
}
.choose_wait_suits .container .choose_area .item .list span {
  color: rgb(17, 17, 17);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}