// .item{
//     position: relative;
//     svg{
//         position: absolute;
//     }
// }

svg {
    z-index: 99999999;
}
.white {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.orange {
    opacity: 0;
    transition: opacity 0.5s ease;
}