
$primary:blue;
$red:red;

$colors: (
    'crimson': #DC143C,
    'royalblue': #4169E1,
    'forestgreen': #228B22,
    'goldenrod': #DAA520,
    'slategray': #708090,
    'deeppink': #FF1493,
    'mediumorchid': #BA55D3,
);


